
.about .container{
    margin-left: 18.75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.about .txt {
    width: 50%;
}

.about .image-about {
    width: 40%;
    transform: translate(2%,15%);
    /* position: relative;
    left: 1%;
    top: 20%; */
}
.about .image-about img {
    width: 100%;
}
.notion .container {
    margin-right: 18.75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.notion .image-notion {
    width: 60%;
    position: relative;
    top: 20%;
    right: 5%;
}
.notion img {
    width: 100%;
}
.notion .txt {
    width: 40%;
}
.notion .image-notion2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.notion .image-notion2 img {
    width: 50%;
    position: relative;
    left: 10%;
}

.ourcats {
    background-image: url("./image/about-cat-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    /* justify-content: space-between; */
}
.cardlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
}
.namelist {
    /* margin-left: 5%; */
    width: 30%;
    /* height: 75vh; */
    /* height: 20%; */
    overflow: scroll;
}
.namelist::-webkit-scrollbar {
    display: none;
  }
   
  /* for IE, Edge and Firefox */
  .namelist {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 
.namecard {
    border-radius: 20px;
    width:100%;
    height: 20%;
    background-color: #ffcc2299;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 0px 0px 10px 0px;
}
.cat-headshot {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 10%;
}
.cat-headshot img {
    width: 100%;
    border-radius: 25%;
}
/* .ourcats .eng-title{
    margin-bottom: 50px;
} */
.ourcats .name {
    margin: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}
.ourcats .name span {
    font-family: "Cherry Bomb One";
    color: white;
    letter-spacing: 0.18em;
    font-size: 20px;
}

.infocard {
    width: 40%;
    border-radius: 20px;
    background-color: #ffcc2299;
    column-gap: 5%;
    padding:20px 40px 20px 40px;
    margin: 0px 0px auto 0px;

}
.cat-photo {
    width:100%;
    height: auto;

}
.cat-photo img {
    width: 100%;
    border-radius: 20px;
}

.ourcats .cat-info p {
    /* width: 100%; */
    letter-spacing: 0.18em;
    margin: 5px 0 5px 5px;
    /* font-size: 14px; */
}
@media screen and (max-width: 768px){
    
   
    .about .container{
        justify-content: center;
        margin:auto;
        overflow: visible;
    }
    .about .txt {
        width: 80%;
    }
    .about .image-about {
        width: 40%;
        position:static;
        transform: translate(50%,20%);
    }
    .notion .container{
        margin:auto;
        justify-content: center;
        transform: translateY(-10%);
    }
    .notion .image-notion {
        width: 40%;
        position: static;
        transform: translateX(-70%);

    }
    .notion .txt {
        width: 80%;
    }
    .notion .image-notion2 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .notion .image-notion2 img {
        width: 50%;
        left: -5%;
    }
    .notion {
        margin-bottom: -15%;
    }
    .ourcats .name span {
        font-size: 16px;
    }
    .infocard {
        width: 40%;
        padding:10px 20px 10px 20px;
        margin: 0px 0px auto 0px;
    }
}
@media screen and (max-width: 430px) {

    .notion {
        margin-bottom: -25%;
    }
    .ourcats .name span {
        font-size: 12px;
    }
}  