.banner {
    background-image: url("./image/other-bg.jpg");
    /* background-size:no-repeat fixed; */
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
}
.banner .wrap {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner img {
    width: 200px;
    
}
.banner span {
    font-family: "Cherry Bomb One";
    color: white;
    font-size: 72px;
    letter-spacing: 16px;
}
section {
    background-color: #F4E8C0;
    /* padding-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-right: 18.75%; */
}
.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.eng-title {
    width: 100%;
    font-family: "Cherry Bomb One";
    font-size: 48px;
    letter-spacing: 16px;
    margin-top: 100px;
    /* margin-bottom: 150px; */
    display: flex;
    justify-content: center;
}
section p {
    line-height: 25px;
    letter-spacing: 0.18em;
    margin: 50px 0px 0px 0px;
    font-size: 14px;
}

.inner-title {
    line-height: 40px;
    letter-spacing: 20%;
    margin: 50px 0px 0px 0px;
    font-size: 24px;
}

.info-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 50px;
    width: 100%;
    /* overflow: hidden; */
}
.info-tab input[type=radio] {
    display: none;
}
.info-tab input[type=radio]:checked + label {
    background-color: #ffd000;
    transform: translatey(1px);
}
.info-tab input[type=radio]:checked + label + .tab-content {
    display: block;
}
.info-tab label {
    cursor: pointer;
    order: 0;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    background-color: #ffd00099;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px 10px 60px 10px;
}

.info-tab label:hover {
    color: black;
}
.info-tab .tab-content {
    display: none;
    padding: 1em;
    width: 100%;
    order: 1;
}
  /* -------- */
.info-tab .eng-title {
    margin: 100px 0px;
}
.intro {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro-warm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 18.75%; */
}
.intro-warm .txt {
    width: 30vw;
    margin-left: 20px;
    margin-right: 20px;
}
.intro-warm .image {
    width: 50vw;
    position: relative;
    left: -5vw;
}
.intro-warm .image img {
    width: 100%;
}


.intro-clean {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18.75%;
}
.intro-clean .txt {
    width: 40vw;
    margin-left: 20px;
    margin-right: 20px;
}
.intro-clean .image {
    width: 50%;
    position: relative;
    top: -200px;
}
.intro-clean .image img {
    width: 100%;
}
.intro-cat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 18.75%; */
}
.intro-cat .txt {
    width: 30vw;
    margin-left: 20px;
    margin-right: 20px;
}
.intro-cat .image {
    width: 50vw;
    position: relative;
    left: -5vw;
}
.intro-cat .image img {
    width: 100%;
}
.intro-cozy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 18.75%;
    margin-top: 10%;
}
.intro-cozy .txt {
    width: 40vw;
    margin-left: 20px;
    margin-right: 20px;
}
.intro-cozy .image {
    width: 50%;
    position: relative;
    top:-100px
}
.intro-cozy .image img {
    width: 100%;
}
.opening {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.opening .wrap{
    /* border: #ffd000 dashed 5px ; */
    background: 
    linear-gradient(90deg, #ffd000 66%, transparent 0) repeat-x,
    linear-gradient(90deg, #ffd000 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #ffd000 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #ffd000 50%, transparent 0) repeat-y;
background-size: 50px 5px, 50px 5px, 5px 50px, 5px 50px;
background-position: 0 0, 0 100%, 0 0, 100% 0;
    padding: 50px 50px;
    width: 77%;
    display: flex;
    flex-wrap: wrap;
justify-content: center;
    }

.opening .eng-title {
    /* display: block; */
    width: fit-content;
    margin-top: 0px;
    margin-bottom: 50px;
    /* margin-bottom: 0px; */
    
}
.opening  .txt {
     width: 873.28px;
     margin: auto;

}

.rules span {
    display: flex;
    justify-content: center;
}
.rules {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rules .eng-title {
    margin: 0px;
}
.rules .wrap {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: 
    linear-gradient(90deg, #ffd000 66%, transparent 0) repeat-x,
    linear-gradient(90deg, #ffd000 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #ffd000 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #ffd000 50%, transparent 0) repeat-y;
background-size: 50px 5px, 50px 5px, 5px 50px, 5px 50px;
background-position: 0 0, 0 100%, 0 0, 100% 0;
    padding: 50px 50px;
}
.rules .remind {
    padding: 25px;
    margin-top: 25px;
    background-color: #ffd00099;
    border-radius: 10px;
}
.rules .txt{
    
    width: 560px;
    margin: auto;
    margin-bottom: 50px;
}
.rules .txt ul {
    list-style: decimal;
} 