.info-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding-top: 50px;
    width: 100%;
    /* overflow: hidden; */
}

.info-tab label {
    cursor: pointer;
    order: 0;
    border-radius: 50px;
    width: 150px;
    aspect-ratio: 3/1;
    /* height: 50px; */
    background-color: #ffcc2299;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px 10px 10px 10px;
}

.info-tab label:hover {
    color: black;
}

.info-tab .tab-content {
    display: none;
    width: 100%;
    order: 1;
    overflow: hidden;
}

  /* -------- */
.info-tab .eng-title {
    margin: 50px 0px;
}
.info-tab .tab-content .inner-title {
    margin: 0;
}
.intro {
    margin-bottom: 50px;
}

.intro-warm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 18.75%; */
}
.intro-warm .txt {
    width: 30vw;
    margin: auto 20px;
}
.intro-warm .image {
    width: 50vw;
    /* position: relative; */
    /* left: -5vw; */
    transform: translate(-5vw,5vh);
}
.intro-warm .image img {
    width: 100%;
}


.intro-clean {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* margin-left: 18.75%; */
}
.intro-clean .txt {
    width: 30vw;
    margin: auto 20px;
}
.intro-clean .image {
    width: 50%;
    /* position: relative; */
    /* top: -200px; */
    transform: translateY(5vh);
}
.intro-clean .image img {
    width: 100%;
}
.intro-cat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 18.75%; */
}
.intro-cat .txt {
    width: 30vw;
    margin: auto 20px;
}
.intro-cat .image {
    width: 50vw;
    /* position: relative;
    left: -5vw; */
    transform: translate(-5vw,5vh);
}
.intro-cat .image img {
    width: 100%;
}
.intro-cozy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* margin-left: 18.75%; */
    /* margin-top: 10%; */
}
.intro-cozy .txt {
    width: 30vw;
    margin: auto 20px;
    /* margin-left: 20px;
    margin-right: 20px; */
}
.intro-cozy .image {
    width: 50%;
    transform: translateX(5vw);
}
.intro-cozy .image img {
    width: 100%;
}
.opening {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.opening .wrap{
    background: 
    linear-gradient(90deg, #ffcc22 66%, transparent 0) repeat-x,
    linear-gradient(90deg, #ffcc22 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #ffcc22 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #ffcc22 50%, transparent 0) repeat-y;
    background-size: 50px 5px, 50px 5px, 5px 50px, 5px 50px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    padding: 50px 50px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.opening .eng-title {
    width: 60%;
    margin: 0;
    
}
.opening  .txt {
     width: 500px;
     margin: 0;

}
.opening  .txt p {
    line-height: 15px;
    letter-spacing: 0.18em; 
    margin: 20px 0px 0px 0px;
    /* font-size: 14px; */
}
.rules span {
    display: flex;
    justify-content: center;
}
.rules {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rules .eng-title {
    margin: 0px;
}
.rules .wrap {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: 
    linear-gradient(90deg, #ffcc22 66%, transparent 0) repeat-x,
    linear-gradient(90deg, #ffcc22 50%, transparent 0) repeat-x,
    linear-gradient(0deg, #ffcc22 50%, transparent 0) repeat-y,
    linear-gradient(0deg, #ffcc22 50%, transparent 0) repeat-y;
background-size: 50px 5px, 50px 5px, 5px 50px, 5px 50px;
background-position: 0 0, 0 100%, 0 0, 100% 0;
    padding: 50px 50px;
    margin: 50px;
}
.rules .remind {
    padding: 25px;
    margin-top: 25px;
    background-color: #ffcc2299;
    border-radius: 10px;
}
.rules .remind-m {
    display: none;
}
.rules .remind span {
    line-height: 15px;
    letter-spacing: 0.18em; 
    margin: 20px 0px;
}
.rules .txt{
    width: 100%;
    margin-left: 25px;
}
.rules .txt p {
    letter-spacing: 0.18em; 
    margin: 20px 0 0 0;
}
.rules .txt ul {
    list-style: decimal;
}

@media screen and (max-width: 768px){
    .info-tab .eng-title {
        margin: 25px 0px;
    }
    .opening .eng-title{
        font-size: 30px;
        margin: 0 ;
    }
    .rules .eng-title{
        margin: 0;
    }
    .info-tab .tab-content .inner-title {
        line-height: 40px;
        letter-spacing: 20%;
        margin: 12.5px 0px 0px 0px;
        font-size: 20px;
    }
    .info-tab {
        padding-top: 25px;
    }
    .info-tab label {
        width: 120px;
        font-size: 14px;
    }
    .intro .txt {
        width: 40vw;
    }
    .intro-clean {
        margin-left: 0;
    }
    .opening .wrap {
        width: 350px;
        padding: 25px;
        margin: 25px;
    }
    .opening  .txt {
        width: 100%;
    }
    .rules .wrap {
        width: 80%;
        padding: 25px;
        margin: 25px;
    }
    .rules .remind {
        padding: 12.5px;
        margin-top: 12.5px;
    }
    .rules .remind span {
        line-height: 20px;
        text-align: center;
        margin: 15px 0px;
        font-size: 14px;
    }
    .rules .txt{
        width: 100%;
        margin-left: 25px;
    }
    .rules .txt p {
        margin: 10px 0;
    }
    .rules .remind-pc {
        display: none;
    }
    .rules .remind-m {
        display: block;
    }
}
@media screen and (max-width: 430px){
    
    .info-tab label {
        width: 100px;
        font-size: 12px;
    }
    .info-tab .tab-content .inner-title {
        line-height: 40px;
        letter-spacing: 20%;
        margin: 12.5px 0px 0px 0px;
        font-size: 16px;
    }
    .opening .wrap {
        width: 300px
    }
    .rules .remind {
        padding: 10px;
        margin-top: 10px;
    }
    .rules .remind span {
        margin: 10px 0px;
        font-size: 14px;
    }
    .intro {
        margin-bottom: 25px;
        justify-content: center;
    }
    .intro .image {
        width: 80%;
        transform: translate(0,0);
        order: 1;
    }
    .intro .txt {
        width: 80%;
        margin-bottom: 20px;
        text-align: center;
    }
    .opening .eng-title{
        font-size: 24px;
    }
}
