* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans TC";
}

.navlist {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav {
    max-width: 1200px;
    list-style: none;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
.nav .tag {
    align-content: center;
    text-decoration: none;
    color: white;
    /* margin: 0px 45px; */
}
.nav .logo {
    width: 10%;
    display: flex;
    /* margin: 0px 45px; */
}
.nav .logo img {
    width: 100%;
    align-content: center;
}

.footerlist {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footerlist p {
    /* line-height: 25px; */
    letter-spacing: 0.2em;
    /* margin: 0px 0px 0px 0px; */
    font-size: 14px;
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    gap: 20px;
}

.footer .logo {
    align-content: center;
    width: 165px;
}
.footer .logo img {
    width: 100%;
    
}

.footer .info {
    align-content: center;
    line-height: 30px;
}

.followus {
    display: flex;
    justify-content: space-between;
}

.copyright {
    text-align: center;
    font-size: 16px;
}

