.banner {
    background-image: url("./image/other-bg.jpg");
    /* background-size:no-repeat fixed; */
    background-size: 100% 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
}
.banner .wrap {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner .logo {
    width: 100%;
    display: flex;
    justify-content: center;
}
.banner img {
    width: 200px;
    
}
.banner span {
    font-family: "Cherry Bomb One";
    color: white;
    font-size: 72px;
    letter-spacing: 16px;
}
section {
    background-color: #F4E8C0;
    /* padding-top: 100px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding-right: 18.75%; */
}
.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.eng-title {
    width: 100%;
    font-family: "Cherry Bomb One";
    font-size: 48px;
    letter-spacing: 16px;
    margin-top: 100px;
    /* margin-bottom: 150px; */
    display: flex;
    justify-content: center;
}
section p {
    line-height: 25px;
    letter-spacing: 0.18em;
    margin: 50px 0px 0px 0px;
    font-size: 14px;
}

.inner-title {
    line-height: 40px;
    letter-spacing: 20%;
    margin: 50px 0px 0px 0px;
    font-size: 24px;
}
.label {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
label {
    cursor: pointer;
    order: 0;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    background-color: #ffd00099;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px 10px;
}
.search {
    display: flex;
    position: relative;
}
input  {
    border-radius: 50px;
    width: 250px;
    height: 50px;
    background-color: #ffd00099;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px 10px;
    border: none;
    font-size: 20px;
    float: left;
    padding-left: 45px;
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
}
.icon{
    position: absolute;
    margin-left: 25px;
    margin-top: 20px;
    color: #4f5b66;
    font-size: 20px;
}
.news {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
.new-card {
    display: flex;
    flex-wrap: wrap;
}
.news-card  .pic {
    width: 20%;
    
}
.news-card  .pic img {
    width: 100%;
    border-radius: 10px;
}

.news-card .txt {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.news-card .txt p {
    width: 50%;
}